# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client/.env
client/.DS_Store
client/.env.local
client/.env.development
client/.env.development.local
client/.env.test.local
client/.env.production
client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/.env
.env
build

/server/node_modules
/server/.env
/servercopy
/server/.craco.config.js

# 이미지
/client/public/img
/client/public/img/product/
/client/public/img/profileImg/
/client/public/img/product
/client/public/img/profileImg